body {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
  border-bottom: 3px solid #80bdff;
}
header ul li a{
  background: #3396ff;
}
header ul li a:hover{
  background: #007BFF;
}
.dash{
  border-bottom: 2px dashed #fff;
}
a{
  color: #fff;
  padding: 5px;
}
a:hover{
  color: #fff !important;
  font-size: 20px;
  text-decoration: none;
  
}
h4{
  border: 1px solid #ddd;
  background:#80bdff;
}
.option ul li a{
  background:#3396ff;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
}
.mylogout{
  width: 100%;
  height: 100vh;
}